src/*.class
documentation/Table.png
documentation/tema1.aux
documentation/tema1.log
documentation/tema1.out
documentation/tema1.pdf
documentation/tema1.synctex.gz
documentation/tema1.synctex(busy)
documentation/tema1.tex
documentation/tema12.aux
documentation/tema12.log
documentation/tema12.out
documentation/tema12.pdf
documentation/tema12.synctex.gz
documentation/tema12.synctex(busy)
documentation/tema12.tex
documentation/tema13.aux
documentation/tema13.log
documentation/tema13.out
documentation/tema13.pdf
documentation/tema13.synctex.gz
documentation/tema13.synctex(busy)
documentation/tema13.tex
documentation/times.xlsx
documentation/images/Average.png
documentation/images/AverageSmall.png
